@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 79 70 229;
        --color-onPrimary: 255 255 255;
        --color-background: 249 250 251;
        --color-surface: 255 255 255;
        --color-onSurface: 31 41 55;
        --color-secondary: 16 185 129;
        --color-error: 239 68 68;
        --color-border: 229 231 235;
        --color-muted: 107 114 128;
        --color-highlight: 250 204 21;
        --color-text-primary: 17 24 39;
        --color-text-secondary: 107 114 128;
    }

    .dark {
        --color-primary: 99 102 241;
        --color-onPrimary: 255 255 255;
        --color-background: 15 23 42;
        --color-surface: 30 41 59;
        --color-onSurface: 241 245 249;
        --color-secondary: 52 211 153;
        --color-error: 248 113 113;
        --color-border: 51 65 85;
        --color-muted: 148 163 184;
        --color-highlight: 251 191 36;
        --color-text-primary: 243 244 256;
        --color-text-secondary: 156 163 175;
    }
}
